[Unit]
Description=Restart unhealthy docker container
After=docker.service
Wants=docker.service

[Service]
Type=simple

Restart=on-failure
RestartSec=60

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Monitor interval in seconds
Environment="AUTOHEAL_INTERVAL=5"

ExecStart=sh -c "while true; do (docker ps --filter 'health=unhealthy' --format '{{.Names}}' | xargs --no-run-if-empty docker restart); (sleep $AUTOHEAL_INTERVAL); done"

[Install]
WantedBy=docker.service
